@import "tailwindcss";

.swiper-pagination-bullet {
  background-color: #999999 !important ; /* tailwind's orange-500 */
  width: 1rem; /* 16px */
  height: 1rem;
  opacity: 1;
  margin: 0 0.25rem;
  border-radius: 9999px;
}

.swiper-pagination-bullet-active {
  background-color: #FF5600 !important ; /* black */
}

/* Hide the scrollbar for all browsers */
.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.custom-shadow-orange {
  box-shadow:
    0px 97px 27px 0px rgba(255, 86, 0, 0.00),
    0px 62px 25px 0px rgba(255, 86, 0, 0.02),
    0px 35px 21px 0px rgba(255, 86, 0, 0.08),
    0px 15px 15px 0px rgba(255, 86, 0, 0.13),
    0px 4px 8px 0px rgba(255, 86, 0, 0.15);
}

.bg-grey-gradient {
  background: linear-gradient(180deg, rgba(153, 153, 153, 0.50) 0%, #999 100%), #FFF !important;
}

.bg-orange-gradient {
  background: linear-gradient(180deg, rgba(244, 132, 76, 0.5) 0%, #F4844C 100%), #FFF !important;
}

html{
  scroll-behavior: smooth;
}

/* Global CSS */
.react-phone-number-input__input {
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

.react-phone-number-input__input:focus {
  border-color: #FF5600 !important;
}

.filter-shadow {
  box-shadow: 
    0px 97px 27px 0px rgba(0, 0, 0, 0.00),
    0px 62px 25px 0px rgba(0, 0, 0, 0.01),
    0px 35px 21px 0px rgba(0, 0, 0, 0.05),
    0px 16px 16px 0px rgba(0, 0, 0, 0.09),
    0px 4px 9px 0px rgba(0, 0, 0, 0.10);
}

.custom-inset-shadow {
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.bg-gradient-bcm {
  background: linear-gradient(0deg, #ff7833b3 0%, #ff7833b3 100%), #000;
}




